In [1]:
# Define the Data

In [3]:
doc_1 = "Data is the oil of the digital economy"
doc_2 = "Data is a new oil"

data = [doc_1, doc_2]

In [4]:
data

['Data is the oil of the digital economy', 'Data is a new oil']

In [ ]:
# Call CountVectorizer

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()
vector_matrix = count_vectorizer.fit_transform(data)
# vector_matrix

In [10]:
# tokens = count_vectorizer.get_feature_names()
# tokens

In [8]:
#Convert sparse vector matrix to numpy array to visualize the vectorized data of doc_1 and doc_2.

In [9]:
vector_matrix.toarray()

array([[1, 1, 1, 1, 0, 1, 1, 2],
       [1, 0, 0, 1, 1, 0, 1, 0]])

In [11]:
import pandas as pd

def create_dataframe(matrix, tokens):

    doc_names = [f'doc_{i+1}' for i, _ in enumerate(matrix)]
    df = pd.DataFrame(data=matrix, index=doc_names, columns=tokens)
    return(df)

In [12]:
create_dataframe(vector_matrix.toarray(),tokens)

       data  digital  economy  is  new  of  oil  the
doc_1     1        1        1   1    0   1    1    2
doc_2     1        0        0   1    1   0    1    0

In [13]:
#Find Cosine Similarity

In [14]:
#Scikit-Learn provides the function to calculate the Cosine similarity. 
# Letâ€™s compute the Cosine Similarity between doc_1 and doc_2.

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix,['doc_1','doc_2'])

          doc_1     doc_2
doc_1  1.000000  0.474342
doc_2  0.474342  1.000000

In [ ]:
#################################################2

In [35]:
import nltk, string
from sklearn.feature_extraction.text import TfidfVectorizer

# nltk.download('punkt') # if necessary...


stemmer = nltk.stem.porter.PorterStemmer()
remove_punctuation_map = dict((ord(char), None) for char in string.punctuation)

def stem_tokens(tokens):
    return [stemmer.stem(item) for item in tokens]

'''remove punctuation, lowercase, stem'''
def normalize(text):
    return stem_tokens(nltk.word_tokenize(text.lower().translate(remove_punctuation_map)))

vectorizer = TfidfVectorizer(tokenizer=normalize, stop_words='english')

def cosine_sim(text1, text2):
    tfidf = vectorizer.fit_transform([text1, text2])
    return ((tfidf * tfidf.T).A)[0,1]


print(cosine_sim('a little bird', 'a little bird'))
print(cosine_sim('a little bird', 'a little bird chirps fly'))
print(cosine_sim('a little bird', 'a big dog barks'))

0.9999999999999998
0.5797386715376657
0.0